

@font-face {
  font-family: 'Orbitron-Regular';
  src: local('Orbitron Regular'), local('Orbitron-Regular'),
  url('font/Orbitron-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'DAMN';
  src: local('DAMN'),
  url('font/DAMN.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Camar';
  src: local('Camar'),
  url('font/Camar.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'ilyas';
  src: local('ilyas'),
  url('font/ilyas.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Redwing-Medium';
  src: local('Redwing Medium'), local('Redwing-Medium'),
  url('font/Redwing-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Reactive-Regular';
  src: local('Reactive Regular'), local('Reactive-Regular'),
  url('font/Reactive-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'The-Rughton-Script';
  src: local('The Rughton Script'), local('The-Rughton-Script'),
  url('font/The-Rughton-Script.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Amarante-Regular';
  src: local('Amarante Regular'), local('Amarante-Regular'),
  url('font/Amarante-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'GAU-Root';
  src: local('GAU Root'), local('GAU-Root'),
  url('font/GAU-Root.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins Regular'), local('Poppins-Regular'),
  url('font/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins Bold'), local('Poppins-Bold'),
  url('font/Poppins-Bold.ttf') format('truetype');
  font-display: swap;
}





















// @font-face {
//   font-family: 'RM Mono';
//   src: local('RM Mono Regular'), local('RMMono-Regular'),
//   url('font/RMMono-Regular.ttf') format('truetype');
//   font-display: swap;
// }
// @font-face {
//   font-family: 'DS-DIGI';
//   src: local('DS DIGI'), local('DS-DIGI'),
//   url('font/DS-DIGI.TTF') format('truetype');
//   font-display: swap;
// }
// @font-face {
//   font-family: 'DS-DIGI-Bold';
//   src: local('DS DIGI Bold'), local('DS-DIGI-Bold'),
//   url('font/DS-DIGI-Bold.TTF') format('truetype');
//   font-display: swap;
// }
































